<html>
<head>
    <title>about python</title>
    <style>
        h2{
            color:red;
            font-size:30px;
            text-align:start;

        }
        h1{
            color:blue;

        }

    </style>
</head>
<body background="font-https://www.bing.com/images/search?q=durgasoft+images&FORM=HDRSC2style:oblique">
<h1>about python</h1>
<h2>python introduction</h2>
python is a simple and powerful language
<h2>python features</h2>
<ol>
    <li>python is a simple language,</li>
    <li>python is a powerful language, </li>
    <li>python takes less time and less cost,</li>
</ol>
<a href="http://durgasoft.com/">Read More</a>
</body>
</html>