<html>
<head>
    <title>about django</title>
    <style>
        h2{
            color:red;
            font-size:30px;
            font-style:oblique;
            text-align:start;

        }
        h1{
            color:blue;

        }

    </style>
</head>
<body>
<h1>about django</h1>
<h2>django introduction</h2>
django is a web frame work of python language
<h2>django features</h2>
<ol>
    <li>django takes less time,</li>
    <li>easy to maintain , </li>
    <li>it is more secuire,</li>
</ol>
<a href="http://durgasoft.com/">Read more</a>
</body>
</html>