<html>
<head>
    <title>courses info</title>
    <style>
        thead{
            color:mediumblue;
        }
        h1{
            color:red;
            text-align:center;

        }
    </style>
</head>
<h1>course details</h1>
<hr>
<center>
    <table border="2">
        <thead>
        <tr>
            <th>cid</th>
            <th>cname</th>
            <th>cfee</th>
            <th>cduration</th>
            <th>ctrainer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>roopa</td>
            <td>2000</td>
            <td>45 days</td>
            <td>narayana</td>
        </tr>
        <tr>
            <td>2</td>
            <td>vyshnavi</td>
            <td>1000</td>
            <td>50 days</td>
            <td>naveen</td>
        </tr>
        <tr>
            <td>3</td>
            <td>sushma</td>
            <td>3000</td>
            <td>55 days</td>
            <td>hari</td>

        </tr>
        <tr>
            <td>4</td>
            <td>swathi</td>
            <td>4000</td>
            <td>60 days</td>
            <td>jagadeesh</td>
        </tr>
        </tbody>
    </table>
</center>
</html>